body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(to right, #eef2f3, #ffffff);
    color: #222;
    transition: 0.3s;
}

/* NAV */
nav {
    background: #111;
    padding: 18px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

nav a {
    color: white;
    margin: 0 14px;
    text-decoration: none;
    font-weight: 600;
    transition: 0.3s;
}

nav a:hover {
    color: #4caf50;
}

/* SECTION CARD */
section {
    max-width: 950px;
    margin: 50px auto;
    padding: 35px;
    background: white;
    border-radius: 15px;
    box-shadow: 0 15px 35px rgba(0,0,0,0.1);
    animation: fadeIn 0.8s ease-in-out;
}

h1 {
    text-align: center;
    color: #2e7d32;
}

img {
    width: 100%;
    border-radius: 12px;
    margin: 25px 0;
}

@keyframes fadeIn {
    from {opacity:0; transform:translateY(20px);}
    to {opacity:1; transform:translateY(0);}
}
